<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aboutpage</title>
    <style>
        th{
            background-color:  #85f513;
            border-radius: 5px;
            color: white;
            font-size: 30px;
            
        }
        td{
            background-color: #2ff565;
            text-align: center;
            border-radius: 2px;
        }
        table{
            height: 400px;
            width: 100%;
            
        }
        h1{
            text-align: start;
            font-size: 30px;
        }
    </style>
</head>
<body>
<h1>About us</h1>
<table>
   <tr>
        <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Quality</th>
    <th>Product Quantity</th>
   </tr>
    
    <tr>
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>
    
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    
      <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    
      <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    
    
</table>

</body>
</html>